<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>JEN Stack Example</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/genericScript.js" charset="utf-8"></script>
</head>

<body>
    <h1>JEN Stack Example</h1>


    <input type="text" id="eventName" placeholder="Event Name">
    <input type="text" id="athleteName" placeholder="Athlete Name">
    <input type="text" id="award" placeholder="Award">
    <button id='testGetButton'>Get Award Info</button>
    <button id='testPostButton'>Submit Event</button>
    <div id="container"></div>
</body>

</html>
